mkdocs
mkdocs-material
markdown-checklist
jieba
mkdocs-literate-nav
mkdocs-markmap
mkdocs-pdf-export-plugin
mkdocs-material-extensions
pymdown-extensions
mkdocs-awesome-pages-plugin
mkdocs-include-markdown-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin